<div id="modal" data-controller="modal" data-dropdown-hidden-class="hidden" data-modal-target="container" class="modal-container hidden" >
  <div class="modal-overlay"></div>
  <div class="modal-content-wrapper">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          Edit
        </h3>
        <button type="button" data-action="click->modal#close" class="modal-close-button">
          <%= inline_svg('close.svg') %>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'tweets/partials/form', tweet: tweet %>
      </div>
    </div>
  </div>
</div>
