<ul id="dropdown" data-sidebar-target="dropdown" class="dropdown hidden">
  <li class="regular-li">My tweets</li>
  <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %><li class="logout">Log Out</li><% end %>
</ul>
