<ul id="dropdown" data-sidebar-target="dropdown" class="dropdown hidden">
  <%= link_to users_profile_path(current_user) do %><li class="regular-li">My tweets</li><% end %>
  <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %><li class="logout">Log Out</li><% end %>
</ul>
