<h1 class="text-xl text-center font-bold p-4 border-b border-gray-800">Edit</h1>
<div class="mx-auto">
  <%= render "tweets/tweet_input", tweet: @tweet %>
</div>
  <%= link_to "Show this tweet", @tweet, class: "tweet-button" %>
  <%= link_to "Back to tweets", tweets_path, class: "tweet-button" %>

