<div class="mx-auto">
  <%= render "tweets/form", tweet: @tweet %>
</div>
<%= link_to "Show this tweet", @tweet, class: "tweet-button" %>
<%= link_to "Back to tweets", tweets_path, class: "tweet-button" %>

