<div class="main-div">
  <h1 class="font-bold text-4xl">Editing tweet</h1>

  <%= render "tweets/form", tweet: @tweet %>

  <%= link_to "Show this tweet", @tweet, class: "tweet-button" %>
  <%= link_to "Back to tweets", tweets_path, class: "tweet-button" %>
</div>
