<div class="main-content w-1/2 border-x border-gray-800 min-h-screen">
  <% if notice.present? %>
    <p class="tweet-notice" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Tweets" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Tweets</h1>
    <%= link_to "New tweet", new_tweet_path, class: "tweet-submit" %>
  </div>

  <div id="tweets" class="min-w-full">
    <% @tweets.each do |tweet| %>
      <%= render tweet  %>
        <%= link_to "Show this tweet", tweet, class: "tweet-button" %>
    <% end %>
  </div>
</div>
