<% if flash[:notice] %>
  <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 text-center" role="alert">
    <p class="font-bold">Notice</p>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 text-center" role="alert">
    <p class="font-bold">Alert</p>
    <p><%= flash[:alert] %></p>
  </div>
<% end %>
