<aside class="sidebar left-sidebar p-4 flex justify-end">
  <nav class="w-64">
    <ul class="space-y-1">
      <li><i class="fab fa-twitter ls-icon"></i></li>
      <li><%= link_to "For you", new_user_session_path, class: "ls-link-to" %></li>

      <% if user_signed_in? %>
        <li class="mt-4"><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "bg-red-500 ls-button-to" %></li>
      <% else %>
        <li class="mt-4"><%= link_to "Log in to Tweet", new_user_session_path, class: "bg-blue-500 ls-button-to" %></li>
      <% end %>
    </ul>
  </nav>
</aside>
