<aside class="mr-56 pt-3">
  <nav>
    <ul class="space-y-4 grid justify-items-start">
      <li><%= inline_svg('icon.svg', class: "h-8") %></li>
      <li><%= inline_svg('user.svg', class: "h-8") %></li>
      <li><%= inline_svg('icon.svg', class: "h-8") %></li>
      <li><%= inline_svg('icon.svg', class: "h-8") %></li>
    </ul>
  </nav>
</aside>
