<%= form_with(model: @new_tweet, class: "contents") do |form| %>
<div class="p-4 border-b border-gray-800">
  <%= form.text_area :body, class: "tweet-textarea", rows: "1", placeholder: "Hello, #{ user_signed_in? ? current_user.username : "Stranger" }. What's happening?" %>
  <div class="flex justify-between items-center mt-4">
    <div class="flex space-x-4">
    </div>
    <% if user_signed_in? %>
      <%= form.submit "Tweet", class: "tweet-submit" %>
    <% else %>
      <%= link_to "Log in to Tweet", new_user_session_path, class: "tweet-submit" %>
    <% end %>
  </div>
</div>
<% end %>
